.blog{
    background-color: rgba(237, 247, 250, 1);
    margin-top: 70px;
    margin-right: 0px;
}

.blog h1{
    font-family: heebo;
    color: rgba(33, 36, 61, 1);
    font-size: 22px;
    font-weight: 400;
    margin-left: 150px;
    padding-top: 20px;
}
.blog section{
    display: flex;
    margin-left: 25px;
}