.card{
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 418px;
    height: 295px;
    transition: 0.6s;
}
.card:hover{
    transform: translateY(-18px);
    transition: 0.6s;
    

    
}

.card section{
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    width: 400px;
    margin-left: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0,0, 0.25, 0.25));
    display: flex;
    flex-direction: column;
}

.card section h3, p{
    font-family: heebo;
    color: rgba(33, 36, 61, 1);
    font-size: 26px;

}
.card section p{
    font-size: 16px;
}
.date{
    display: flex;
    color: rgba(33, 36, 61, 1);
    font-family: heebo;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;


}
.date p{
    margin-right: 50px;
    
}