.nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.nav ul{
    display: flex;
}
#links a{
    cursor: pointer;
    margin-right: 15px;
    font-family: heebo;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}
#links a:hover{
    color: rgba(255, 100, 100, 1);
    transition: 0.4s;
}
.nav ul a{
    color: black ;
    transition: 0.4s;
}
.nav ul li{
    list-style: none;
}

.nav ul a:hover{
    color: rgba(255, 100, 100, 1);
    transition: 0.4s;
}